server:
  port: 8080 # Puerto del Gateway

spring:
  application:
    name: api_gateway # Nombre del Gateway

  cloud:
    gateway:
      server:
        webmvc:
          routes:

            # ===========================
            # Servicio de Usuarios
            # ===========================
            - id: users-service
              uri: lb://users-ms # lb indica que se obtiene desde Eureka
              predicates:
                - Path=/api/user/**, /api/enrollments/**
              filters:
                - StripPrefix=0 # No elimina nada del path

            # ===========================
            # Servicio Académico
            # ===========================
            - id: academic-service
              uri: lb://academic-ms
              predicates:
                - Path=/api/universities/**, /api/configurations/**, /api/divisions/**, /api/programs/**, /api/courses/**, /api/course-modules/**, /api/groups/**
              filters:
                - StripPrefix=0

            # ===========================
            # Servicio de Asistencia
            # ===========================
            - id: attendance-service
              uri: lb://attendance-ms
              predicates:
                - Path=/api/attendances/**, /api/group-courses/**, /api/schedules/**
              filters:
                - StripPrefix=0

            # ===========================
            # Servicio de Almacenamiento
            # ===========================
            - id: storage-service
              uri: lb://storage-ms
              predicates:
                - Path=/api/files/**
              filters:
                - StripPrefix=0

            # ===========================
            # Servicio de Chat
            # ===========================
            - id: chat-service
              uri: lb://chat-ms
              predicates:
                - Path=/api/chats/**
              filters:
                - StripPrefix=0

            # ===========================
            # Servicio de Notificaciones
            # ===========================
            - id: notifications-service
              uri: lb://notifications-ms
              predicates:
                - Path=/api/notifications/**
              filters:
                - StripPrefix=0

            # ===========================
            # Servicio de Autenticación
            # ===========================
            - id: auth-service
              uri: lb://auth-server
              predicates:
                - Path=/api/auth/**, /oauth2/**
              filters:
                - StripPrefix=0

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/ # URL del servidor Eureka
